.athene-button {
    overflow: hidden;
    border-radius: 8px;
    -webkit-appearance: button; /* 改变元素默认的渲染风格 */
    padding: 8px 30px;
    outline: 0;
    width: 100%;
    height: 96px;
    font-size: 36px;
    &:active {
        box-shadow: none;
        outline: 0;
    }
}