@import "./base-button.less";

@primary-color: #26a2ff;

.buttonAfter {
    background-color: #000;
    content: " ";
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.athene-button-primary {
    position: relative;
    border: 2px solid #D9D9D9;
    border-color: @primary-color;
    color: #FFF;
    background-color: @primary-color;
    
    &::after {
        &:extend(.buttonAfter);
    }

    &:active::after {
        opacity: .4;
    }
}

.athene-button-default {
    // border: 2px solid #D9D9D9;
    position: relative;
    box-shadow: 0 0 1px #b8bbbf;
    border: 0;
    color: #656B79;
    background-color: #FFF;

    &::after {
        &:extend(.buttonAfter);
    }
    
    &:active::after {
        opacity: .2;
    }
}
.athene-button-danger {
    position: relative;
    border: 2px solid #D9D9D9;
    border-color: #EF4F4F;
    color: #FFF;
    background-color: #EF4F4F;

    &::after {
        &:extend(.buttonAfter);
    }

    &:active::after {
        opacity: .4;
    }
}

.athene-button-ghost {
    position: relative;
    border: 2px solid #D9D9D9;
    border-color: #EF4F4F;
    color: #FFF;
    background-color: #EF4F4F;
}